.navbar{
    width: 100vw;
    height:  5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color:black;
    font-size: large;
    font-weight: bold;
    
}