.sidebar{
    width: 15vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;  
}

.sidebar li {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
ul{
    padding: 0%;
}
button{
    font-weight: bold;
    padding: 5px;
    border-radius: 20px;
}
.primary{
    background-color:  red;
}
.secondary{
    background-color: orange;
}
.tertiary{
    background-color:  orangered;
}
