.sidebar{
    width: 15vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;  
}

.sidebar li {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
ul{
    padding: 0%;
}